:root {
  --bg-main: black;
  --bg-header: #001f4d;
  --text-main: white;
  --text-accent: #00bfff;
  --border-main: grey;

  --font-regular: 'Open Sans';
  --font-bold: 'Open Sans Bold';
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-regular);
}

header, footer {
  background-color: var(--bg-header);
}

.departure-row {
  border-bottom-color: var(--border-main);
}

.expected {
  color: var(--text-accent);
  font-family: var(--font-bold);
}
